@import url(./reset.css);

body {
  background: radial-gradient(
      96.74% 276.79% at 3.59% 5.28%,
      #f0f4ff 0%,
      #a5b6ee 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.logo {
  margin-top: 72px;
  text-align: center;
}

.logo > img {
  width: 244px;
  height: 48px;
}

.container-timer {
  margin: 60px auto 0;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  /* shadow */
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
  max-width: 400px;
  min-height: 360px;
}

.container-timer > .title {
  padding-top: 48px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.container-timer > .title::after {
  content: "";
  display: block;
  margin: 23px auto 33px;
  border-bottom: 1px solid #3d538a;
  width: 312px;
  height: 1px;
}

.container-timer > .list-timebox {
  display: flex;
  padding: 0 58px;
}

.list-timebox > li {
  text-align: center;
  position: relative;
}

.list-timebox li + li {
  margin-left: 22px;
}

.list-timebox li + li::before {
  position: absolute;
  width: 6px;
  height: 26px;
  content: "";
  top: 45px;
  left: -14px;
  background-image: url(../images/dot.svg);
  background-repeat: no-repeat;
}

.list-timebox .timebox-title {
  display: inline-block;
  margin-bottom: 4px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #a5b6ee;
}

.list-timebox .timebox {
  background-image: url(../images/box.svg);
  width: 80px;
  height: 80px;
}

.timebox > input[type="number"]::-webkit-inner-spin-button,
.timebox > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.list-timebox .timebox > input {
  width: 53px;
  background-color: transparent;
  border: 0;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 19px 14px 16px 13px;
}

.container-buttons .button-start {
  background-image: url(../images/button/start-disabled.svg);
}

.container-buttons .button-reset {
  background-image: url(../images/button/reset-disabled.svg);
}

.button-start.on {
  background-image: url(../images/button/start-default.svg);
}

.button-reset.on {
  background-image: url(../images/button/reset-default.svg);
}

.container-buttons {
  margin-top: 40px;
  padding: 0 82px;
  display: flex;
  justify-content: space-between;
}

.container-buttons button {
  width: 112px;
  height: 48px;
}
